.postride-container {
    height: 90vh;
    display: flex;
    .add-ride {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45vw;
        height: 80vh;
        margin: auto;
        background-color: rgb(184, 246, 253);
        .ride-head {
            text-transform: uppercase;
            border-bottom: 3px solid #48BcC8;
        }
        .postRideForm {
            display: flex;
            flex-direction: column;
            .btn {
                padding: .7rem;
                background-color: #48BcC8;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                outline: none;
            }
            &>* {
                margin: .8rem;
            }
            .form-group {
                .ridefields {
                    width: 30vw;
                    padding: .7rem;
                    outline: none;
                    font-size: 1rem;
                }
                .invalid-input {
                    border: 1px solid red;
                }
                .error {
                    color: rgb(255, 31, 31);
                }
            }
        }
    }
}

.ride-cont {
    background-color: grey;
    color: #48BcC8;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px rgb(90, 89, 89);
    display: grid;
    grid-template-columns: auto;
    &>* {
        padding: .5rem
    }
    .ride-links {
        display: flex;
        justify-content: space-between;
        .ride-link {
            text-decoration: none;
            padding: .5rem;
            .delete-icon {
                width: 2rem;
            }
            .update-icon {
                width: 2rem
            }
        }
    }
}