.postride-container {
    height: 90vh;
    display: flex;
    .add-ride {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45vw;
        height: 80vh;
        margin: auto;
        background-color: rgb(184, 246, 253);
        .ride-head {
            text-transform: uppercase;
            border-bottom: 3px solid #48BcC8;
        }
        .postRideForm {
            display: flex;
            flex-direction: column;
            .btn {
                padding: .7rem;
                background-color: #48BcC8;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                outline: none;
            }
            &>* {
                margin: .8rem;
            }
            .form-group {
                .ridefields {
                    width: 30vw;
                    padding: .7rem;
                    outline: none;
                    font-size: 1rem;
                }
                .invalid-input {
                    border: 1px solid red;
                }
                .error {
                    color: rgb(255, 31, 31);
                }
            }
        }
    }
}